[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/raygui"]
	path = external/raygui
	url = https://github.com/raysan5/raygui
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
